.app-modal-container {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.app-modal-overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.8);
}

.app-modal-active {
    transition: visibility 0.2s;
    visibility: visible;
}

.app-modal-inactive {
    transition: visibility 0.2s linear;
    visibility: hidden;
}

.app-modal-active .app-modal-overlay {
    transition: opacity 0.1s linear;
    opacity: 1;
}

.app-modal-inactive .app-modal-overlay {
    transition: opacity 0.1s linear;
    opacity: 0;
}

.app-modal-active .app-modal {
    animation: pop-in 0.2s;
}

.app-modal-inactive .app-modal {
    animation: pop-out 0.2s;
}

.app-modal {
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 4px;
    border: 1px solid #fcfcfc;
    padding: 1.5rem;
    z-index: 4;
    overflow: hidden auto;
    max-height: 100%;
    max-width: 100%;
}

body[data-dark='true'] .app-modal {
    background-color: #212529;
}

.app-modal-scrollbar {
    max-height: 90vh;
    overflow-y: auto;
}

.app-modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 1rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #ced4da;
}
.app-modal-header-slim {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.app-modal-title {
    margin-bottom: 0;
    color: #32325D;
}

.app-modal-close {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
}

.close-icon {
    vertical-align: top;
}

.app-modal-content {
}

.modal-xl {
    width: 95%;
    min-height: 95%;
}

.modal-lg {
    width: 75%;
}

.modal-md {
    width: 60%;
}

.modal-sm {
    width: 45%;
}

.modal-xs {
    width: 40%;
}

.modal-tiny {
    width: 30%;
}


/*Large*/
@media screen and (max-width: 1024px) {
    .modal-tiny, .modal-xs, .modal-sm {
        width: 56%;
    }
}

/*Medium*/
@media screen and (max-width: 768px) {
    .modal-tiny, .modal-xs, .modal-sm, .modal-md, .modal-lg {
        width: 90%;
    }
}

/*Small*/
@media screen and (max-width: 575.98px) {
    .modal-tiny, .modal-xs, .modal-sm, .modal-md, .modal-lg {
        width: 95%;
    }
}