.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d !important;
}

.text-end {
    text-align: right !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

.fs-xs {
    font-size: .75rem !important;
}

.fs-md {
    font-size: 1.125rem !important;
}

.thumbs-up {
    font-size: 25px;
    padding-right: 1rem;
}

.block-title {
    flex: 1 1 auto;
    min-height: 1.75rem;
    margin: 0;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.75rem;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    color: #334155;
}

.block.block-rounded > .block-header, .block.block-rounded > .nav-tabs {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.block-header-default {
    background-color: #f6f7f9;
}

.block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    transition: opacity 3s ease-out;
}

.empty-section-spacing {
    margin: 50px 0px 50px 0px;
}

.textClass {
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 0rem;
    align-items: center;
    margin: 0px;
}

    .textClass:hover {
        background-color: #e9e9e9;
        opacity: 100%;
        cursor: pointer;
    }

.itemNameFont {
    font-size: 15px;
    font-weight: 600;
    margin-left: 1rem;
    color: #4c78dd;
    cursor: pointer;
}

    .itemNameFont:hover {
        color: #224699;
    }

.bg-success {
    background-color: #65a30d !important;
}

.progress {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: 1rem;
    background-color: #ebebeb;
    border-radius: 0.25rem;
}

    .progress span {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
    }

.progress-bar {
    display: flex;
    background-color: #4c78dd;
    transition: width 1.5s ease-in-out;
    --webkit-animation: progressBarAnim 1.5s ease-in-out;
    --webkit-animation-fill-mode: both;
    -moz-animation: progressBarAnim 1.5s ease-in-out;
    -moz-animation-fill-mode: both;
}

@-webkit-keyframes progressBarAnim {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@-moz-keyframes progressBarAnim {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes progressBarAnim {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.card-styles {
    border-radius: 0.3rem;
    background: #ffffff;
    box-shadow: 0 1px 2px rgb(214 219 226 / 50%), 0 1px 2px rgb(214 219 226 / 50%);
    margin-top: 25px;
    margin-bottom: 25px;
}
